.feed{
    flex: 0.3;
    margin-right: 0.5rem;
    margin-top: 1.65rem;
    width: fit-content;
    height: fit-content;
}


.feed__input__container{
    margin: 0 1.2rem;
    border-radius: 5px;
    width: fit-content;
    background-color: white;
    padding: 1rem;
    color: gray;
}
.feed__input{
    background-color: white;
    width: 95%;
   padding: 0.5rem;
   flex:1;
   display: flex;
   border: 1px solid gray;
   border-radius: 5rem;

}


.image__options{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.feed-btn{
display: none;
}

.feed__input__text{
    width: 100%;
    background: none;
    border: none;
    outline: 0;
}

.posts{
    margin: 0 0.8rem;
    width: fit-content;
    padding: 10px;
}

.feed__input > form{
    width: 100%;
}

@media screen and (max-width: 1024px){
    .feed{
        flex: 0.5;
    }
}

@media screen and (max-width: 695px)
{
    .feed{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .feed__input__container{
        width: 90%;
    }
    .posts{
        width: 99%;
    }
}




