
.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: gray;
    transition: color 0.2s ease-in;
}

.icon:hover{
    color:black;

}
.header-icon-text{
    font-size: 12px;
    font-weight:400;
}

.avatar{
    width: 25px !important;
    height: 25px !important;
}


@media screen and (max-width: 474px)
{
    .icon{
        width: 15px;
    }
    
    .header-icon-text{
        display: none;
    }

    .header_left{
        display: none;
    }
}
