.imageOption{
    display: flex;
    gap: 0.1rem;
    padding: 10px;
    cursor: pointer;
}

.imageOption:hover{
    background-color: whitesmoke;
    border-radius: 10px;
}

@media screen and (max-width: 475px)
{
    .imageOption > h4{
        display: none;
    }
}