.app{
    background-color: #F3F2EF;
    overflow: none;
}
.appbar{
    background-color: #F3F2EF;
    height: fit-content;
    flex: 1;
    display: flex;
    justify-content: center;
    
}

@media screen and (max-width: 695px)
{
    .appbar{
        flex-direction: column;
        align-items: center;
        overflow: none;
    }
}

@media screen and (max-width: 480px)
{
    
    .appbar{
        
        flex-direction: column;
        align-items: center;
        overflow: none;
    }
}

